
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:ital,wght@1,200&display=swap');

/* common things */
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin:0;
    background-color: #FFFFFF;
    
    
}


a{
    text-decoration: none;

}
a:hover{
    text-decoration:underline;
}



/* nav-part */

.nav-part{
    margin:20px 50px;
    display: flex;
    justify-content: space-between;
}

.nav-top-right{
    padding-top:30px;
    width:500px;
    height:150px;
    margin: 2px solid black;
    padding-right: 70px;

}
.nav-top-left{
    padding-top: 15px;
    padding-left: 120px;

}
.nav-top-left a
{
    color:black;

}
.nav-top-right a{
    padding-left: 20px;
}

/* header part */

header{
    display: flex;
    justify-content: space-between;
}
.header-left{

    width:582px;
    height:270px;
    padding-left:170px;
    

}
.header-right img{
    width: 70%;
    padding-right: 20px;
    border-radius: 0px;
    padding-bottom:20px;


 }

 /* header-footer */

 .header-footer{
    height: 110px;
    width: 910px;
    left: 165px;
    top: 725px;
    border-radius: 0px;
    padding-left:20%;
    
 }

 .header-footer .img{
     display: flex;
     justify-content: space-between;
     padding-top:50px;
 }
     
.button{
    height: 30px;
    width: 150px;
    border-radius: 41px;
    padding: 10px;
    background: #E02C6D;
    text-align: center;

}
    
  /* button-font */

.button a{ 
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;

color: #FFFFFF;

}

