
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:ital,wght@1,200&display=swap');

/* common things */
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin:0;
    background-color: #FFFFFF;
    
    
}

.try{
    display: flex;
    justify-content: center;
}
.container{
    background-color:#FFFFFF;
    width: 860px;
    padding:30px;
    margin-top:21px;
    border-radius:5px;
}


a{
    text-decoration: none;

}
a:hover{
    text-decoration:underline;
}
 /* animation work */
 @keyframes sliding {
     from{
        transform: scale(1.7) rotate(60deg);
        transition: transform 2s ease-in-out;
     }
    }
  

/* nav-part */

.nav-part{
    margin:20px 50px;
    display: flex;
    justify-content: space-between;
}

.nav-top-right{
    padding-top:30px;
    width:500px;
    height:150px;
    margin: 2px solid black;
    padding-right: 70px;

}
.nav-top-left{
    padding-top: 15px;
    padding-left: 120px;

}
.nav-top-left a
{
    color:black;

}
.nav-top-right a{
    padding-left: 20px;
}

/* header part */

header{
    display: flex;
    justify-content: space-between;
}
.header-left{

    width:582px;
    height:270px;
    padding-left:170px;
    

}
.header-right img{
    width: 70%;
    padding-right: 20px;
    border-radius: 0px;
    padding-bottom:20px;
    /* transform: scale(1.7) rotate(60deg);
    transition: transform 2s ease-in-out; */

    animation: sliding 2s ease-in-out  infinite;
    animation-play-state:running;


 }

 /* header-footer */

 .header-footer{
    height: 110px;
    width: 910px;
    left: 165px;
    top: 725px;
    border-radius: 0px;
    padding-left:20%;
    
 }

 .header-footer .img{
     display: flex;
     justify-content: space-between;
 }
     
.button{
    height: 30px;
    width: 150px;
    border-radius: 41px;
    padding: 10px;
    background: #E02C6D;
    text-align: center;

}
    
  /* button-font */

.button a{ 
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;

color: #FFFFFF;

}

.connection-header h1{
    margin-top: 150px;
    text-align: center;
}

/*...................................... main part.................... */

.collections{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    margin-top:3px;
}

.collection img{
  width:250px;
  height: 200px;

}
.collection{
    padding:15px;
    margin:10px;
    
    
    background: #f1eeee;

}

.rating .fa-star{
    color:gold;
}
  

/* .................................main footer................. */
footer p{
    display:inline-block;
}
footer{
    background-color: rgb(3, 3, 32);
    color:oldlace;
    text-align: center;
}