
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Poppins:ital,wght@1,200&display=swap');

/* common things */
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin:0;
    background-color: #FFFFFF;
    
    
}

.container{
    background-color:#FFFFFF;
    padding:30px;
    margin-top:21px;
    border-radius:5px;
}


a{
    text-decoration: none;

}
a:hover{
    text-decoration:underline;
}
 /* animation work */
 @keyframes sliding {
     from{
        transform: scale(1.7) rotate(30deg);
        transition: transform 2s ease-in-out;
     }
    }
  
    @keyframes moving{
        from{
            transform: translateX(100px);
            transition: transform 2s ease;
            position: 0;
        }
        to{
            positon:150px;
        }
    }

/* nav-part */

.nav-part{
    margin:20px 50px;
    display: flex;
    justify-content: space-between;
}

.nav-top-right{
    padding-top:30px;
    width:500px;
    height:150px;
    margin: 2px solid black;
    padding-right: 70px;

}
.nav-top-left{
    padding-top: 15px;
    padding-left: 120px;

}
.nav-top-left a{
    padding-left:0%

}
.nav-top-left a
{
    color:black;

}
.nav-top-right a{
    padding-left: 20px;
}

/* header part */

header{
    display: flex;
    justify-content: space-between;
}
.header-left{

    width:582px;
    height:270px;
    padding-left:170px;
    

}
.header-right img{
    width: 70%;
    padding-right: 20px;
    border-radius: 0px;
    padding-bottom:20px;
    /* transform: scale(1.7) rotate(60deg);
    transition: transform 2s ease-in-out; */

    animation: sliding 2s ease-in-out  infinite;
    animation-play-state:running;


 }

 /* header-footer */

 .header-footer{
    height: 110px;
    width: 910px;
    left: 165px;
    top: 725px;
    border-radius: 0px;
    padding-left:20%;
    
 }

 .header-footer .img{
     display: flex;
     justify-content: space-between;
 }
     
.button{
    height: 30px;
    width: 150px;
    border-radius: 41px;
    padding: 10px;
    background: #E02C6D;
    text-align: center;

}
    
  /* button-font */

.button a{ 
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;

color: #FFFFFF;

}

.collection-header h1{
    margin-top: 150px;
    text-align: center;
}

/*...................................... main part.................... */

/* .collections{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap:15px;
   
} */

.collection img{
  width:350px;
  height: 200px;

}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-column-end: auto;
    grid-gap:30px;

}
.collection{
    padding:30px;
    background: #f1eeee;
    border-radius: 5px;

} 

.rating .fa-star{
    color:gold;
}
/* ........................................................creative part.................................... */

.creative-half>.img1:hover{
    transform: scale(1.2);
    transition: transform 0.1 ease-in-out;

}
.creative-half>.img2:hover{
    transform: scale(1.2);
    transition: transform 0.1 ease-in-out;

}

.creative-heading h1{
    text-align: center;
}
.creative{
    font-weight: 900;
    text-align: center;
    color: coral;

}
.creative-part{
    display: flex;
}
.creative-full img{
    width:50%;

}
.move{
    animation: moving 3s ease 1s   infinite;
    animation-play-state: running;
}
.mov h1{
    color: blue;
}
.creative-full{
    display: inline-block;
    flex: wrap;
}
.creative-half{
  width:50%;
} 
.creative-full img{
    padding-right:20px;
    width:120%;
}


/* .................................main footer................. */
footer p{
    display:inline-block;
}
footer{
    background-color: rgb(3, 3, 32);
    color:oldlace;
    text-align: center;
}


/* media queries */
 @media only screen and (min-width: 1px) {
    
    
    .main-footer{
        width:40%;
        
    }

    .collections{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    }

}

    @media only screen and (max-width:688px){
      
        .container{
            width:100%;
        }

        .collections{
            display:grid;
            grid-template-columns:repeat(1,1fr);
            
            
        }
        
    }

    @media only screen and (min-width: 689px) {
    
        .container{
            width:100%;
        }

        .main-footer{
            width:80%;
        }
        .collections{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        justify-content: center;
        }




@media only screen and (max-width:992px){
    
    .container{
        width:100%;
    }

    .main-footer{

        width:80%;
    }

    
    .collections{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .collection{
        display:flex;
     flex-wrap:wrap;
    }
    
    
}
@media only screen and (min-width: 993px) {
 


    .container{
        width:100%;
    }
    .main-footer{
        width:80%;
    }
    .collections{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
    }

@media only screen and (max-width:1312px){
 
    .container{
        width:100%;
    }

    .main-footer{
        width:100%;
    }
    .footer-icon>fab{
             padding-left:10px;
    }
    .collections{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    
}

